{% extends "base.html" %}

{% block page_content %}
{{super()}}

<p>One of the annoying things about creating a new Reddit account is having to unsubscribe from all of the default subreddits. You actually have to click unsubscribe for each of the ~50 default subreddits...until now.</p>

<p>Out of irrational anger, we created EasyUnsub, a simple app that makes unsubscribing from subreddits a little less infuriating.</p>

<p><strong>Click the button below to login with your Reddit account and get started.</strong></p>

<p><a id="login-reddit" href="{{ oauth_link }}"><img src="http://groupsrc.com/rdrafts/login_reddit.png?ver=3.0" alt="Authorize with reddit" /></a></p>

{% endblock %}
