{% extends "base.html" %}

{% block page_content %}
{{super()}}

<p>GroupSRC is a couple of brothers that are not only interested in Reddit, but online communities in general. We believe in the power of online communities and want to develop the communities and tools that allow people to do amazing things together.</p>

<p>In addition to EasyUnsub, you can see the <a href="{{url_for('main.other_apps')}}">other apps we have developed here</a>.</p>

<p>Besides building Reddit apps that make it easier to use online communities, we are also interested in getting more leaders and businesses involved in online communities. We think there is an ethical and valuable way for leaders/businesses to engage Reddit and other online commuities and we try to help them do just that. We even have an entire blog dedicated to "Reddit marketing" that teaches the basics.</p>

<p><a href="http://marketersguidetoreddit.com" target="_blank">Visit MarketersGuideToReddit.com</a></p>

{% endblock %}
