{% extends "base.html" %}

{% block page_content %}
{{super()}}

{% if form %}
<div id="crawl-form-wrap">
    <form method="POST" class="form" role="form">

        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.subreddits.label }}
            {% if form.subreddits.errors %}
                <ul class="errors">{% for error in form.subreddits.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <p>
                <a class="check-btn btn btn-warning btn-xs" href="#">Check All</a>
            </p>
            <table width="100%">
            {% set count = 1 %}
            {% for sub in form.subreddits.choices %}
                {% if count == 1 %}
                <tr>
                {% endif %}
                    <td>
                        <input id="subreddits-{{ loop.index }}" name="subreddits" type="checkbox" value="{{ sub[0] }}" />
                        &nbsp; <label for="subreddits-{{ loop.index }}">/r/{{ sub[0] }}</label>
                    </td>
                {% if count == 4 %}
                </tr>
                    {% set count = 1 %}
                {% else %}
                    {% set count = count + 1 %}
                {% endif %}
            {% endfor %}
            </table>
        </div>

        {{ form.submit(class="btn btn-primary") }}

    </form>

</div>
{% else %}
<p><strong>You are not subscribed to any subreddits. Visit the <a href="https://www.reddit.com/subreddits" target="_blank">subreddits page</a> and you'll see. You can also subscribe to new subreddits from that page.</strong></p>
{% endif %}

{% if 'subreddits' in session %}
<hr />
<h2>Thanks for using EasyUnsub</h2>
<p>EasyUnsub was created by <a href="{{url_for('main.about')}}">GroupSRC</a> and is sponsored by <a href="http://marketersguidetoreddit.com" target="_blank">MarketersGuideToReddit.com</a>, the only blog dedicated to ethical Reddit marketing.</p>

<p><strong>If you need help finding new subreddits,</strong> <a href="http://marketersguidetoreddit.com/how-to-find-subreddits-related-to-your-niche/" target="_blank">read this article from our blog</a>.</p>

<p><strong>If you are an experienced Redditor,</strong> <a href="https://www.reddit.com/message/compose?to=ddigiovanni&subject=EasyUnsub" target="_blank">please message me to tell me what you think about this app</a>.</p>
{% endif %}

{% endblock %}
